.contact-container {
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #f5c518;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #111;
  color: white;
}