<section class="rail">
  <div class="rail-header">
    <h2>Nouveautés</h2>
    <div class="rail-nav">
    </div>
  </div>

  <div class="scroll-container" #scrollNew>
    <ng-container *ngIf="nouveautes$ | async as movies">
      <div class="item" *ngFor="let movie of movies; trackBy: trackById">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </ng-container>
  </div>
</section>

<section class="rail">
  <div class="rail-header">
    <h2>Coups de cœur</h2>
    <div class="rail-nav">
    </div>
  </div>

  <div class="scroll-container" #scrollFav>
    <ng-container *ngIf="coupsDeCoeur$ | async as movies">
      <div class="item" *ngFor="let movie of movies; trackBy: trackById">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </ng-container>
  </div>
</section>